{% extends "base.html" %}
{% block content %}
{% if message %}


{% endif %}

<h1>{{task.name}}</h1>

<form method="post" action="{{base_path}}/task/{{task.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<a href="{{base_path}}/task/{{task.id}}/edit" class="btn btn-success">Edit</a>


<!-- Tiedot tulee listana tähän -->

    <li><strong>Added:</strong> {{task.added}}</li>
    <!--    <li><strong>Status:</strong> <label class="label label-danger">undone</label></li>-->
    <li><strong>Deadline:</strong> {{task.deadline}}</li>
    <li><strong>Categories:</strong>
        {% if task.findCategories == null %}
        <span>None</span>
        {% endif %}
        {% for category in task.findCategories %}

        <span>
            <label class="label label-info">{{category.name}}</label>
        </span>
        {% endfor %}
    </li>

    <li><strong>Priority:</strong>

   
        <label class="label label-danger">{{task.priority}}</label>
        <p>JUU</p>
        <p>{{task.findPriority.name}}</p>
        

    </li>

<!-- Kuvaus tulee tähän -->

{% endblock %}