{% extends "base.html" %}
{% block content %}
  <h1>Käyttäjän Henri pelikirjasto</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää peli</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Julkaisupäivä</th>
        <th>Julkaisija</th>
        <th>Status</th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="#">The Elder Scrolls V: Skyrim</a></td>
        <td>11.11.2011</td>
        <td>Bethesda Softworks</td>
        <td><label class="label label-danger">kesken</label></td>
        <td>9.12.2014</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}