{% extends "base.html" %}
{% block content %}
  <h1>Login</h1>

  <!-- Kaikki lomakkeen elementit form-tagin sisään -->
  <form>
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
{% endblock %}