{% extends "base.html" %}
{% block content %}
  <h1>Cleaning</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Remove</button> <a href="#" class="btn btn-default">Edit</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Added:</strong> 11.11.2011</li>
    <li><strong>Author:</strong> Ville</li>
    <li><strong>Status:</strong> <label class="label label-danger">undone</label></li>
    <li><strong>Deadline:</strong> 12.11.2011</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p> WC needs cleaning after a hit between a fan and shit
  </p>
{% endblock %}