{% extends "base.html" %}
{% block content %}


<h1 class="list-group-item">Accounts</h1>
<table class="table table-striped table-bordered">
    <thead>

        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Manage</th>
        </tr>
    </thead>

    <tbody>
        {% for operator in operators %}
        <tr>
            <td>{{operator.username}}</td>
            <td>{{operator.password}}</td>

            <th> {% if operator.username != 'admin' %}
                <form method="post" action="{{base_path}}/operator/{{operator.id}}/destroy" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Delete</button>
            </th>
            {% endif %}

            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}